/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* [class*= 'col'] {
  background-color: green;
  border: 1px solid black;
} */

/* REGOLE BODY */
body {
  background-color: #b91450;
  font-family: 'Roboto';
}
h2 {
  text-align: center;
  color: white;
  padding: 15px 0;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.rettangolo {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}
.datiutente {
  display: flex;
  color: #b91450;
  justify-content: center;
  padding: 20px 0;
}
.block {
  padding: 0 20px;
}
.block label {
  display: block;
  text-align: center;
  padding-bottom: 5px;
  font-weight: bold;
}
.block input, .block select {
  border: 1px solid #b91450;
  border-radius: 3px;
  text-align: center;
  padding: 2px 0;
}
.block select {
  background-color: #f8f8f8;
}
.pulsanti {
  text-align: center;
  padding: 20px 0;
}
.pulsanti button {
  color: #b91450;
  padding: 3px 7px;
  border-radius: 3px;
  border: 1px solid #b91450;
}
.dettagliopasseggeri {
  padding: 10px 15px 15px 15px;
}
.riepilogo {
  display: flex;
  border: 1px solid black;
}
.riepilogo span:first-child {
  display: block;
  padding-bottom: 40px;
}
.riepilogo .block:first-child {
  background-color: #808080;
}
.riepilogo .block span:first-child {
  font-weight: bold;
}
.riepilogo .block {
  padding: 10px 5px;
}
#prospetto .rettangolo {
  border-radius: 0;
}
/* REGOLE DISPLAY NONE */
.hidden {
  display: none;
}
.visible {
  display: block;
}
